# Mini_Project_Austin_Dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import re

In [2]:
df = pd.read_csv('austin_crime.csv')

In [3]:
df

,address,census_tract,clearance_date,clearance_status,council_district_code,description,district,latitude,location,location_description,longitude,primary_type,timestamp,unique_key,x_coordinate,y_coordinate,year,zipcode
0,2620 RIO GRANDE ST Austin TX 78705,6.03,2015-12-14 00:00:00,Not cleared,9.0,THEFT,B,NaN,NaN,2620 RIO GRANDE ST,NaN,Theft,2015-12-13 00:00:00,2.015505e+10,3113531.0,10079579.0,2015.0,78705.0
1,9500 S IH 35 SVRD SB Austin TX 78748,24.21,2015-09-14 00:00:00,Cleared by Arrest,5.0,THEFT BY SHOPLIFTING,F,NaN,NaN,9500 S IH 35 SVRD SB,NaN,Theft,2015-09-03 00:00:00,2.015246e+10,3099459.0,10032098.0,2015.0,78748.0
2,1000 E 41ST ST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Austin TX 78751,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(30.298356 -97.719647),3.02,2014-07-29 00:00:00,Cleared by Arrest,9.0,THEFT BY SHOPLIFTING,B,30.298356,(30.298356-97.719647),1000 E 41ST ST,-97.719647,Theft: Shoplifting,2014-04-04 00:00:00,2.014941e+09,3121345.0,10082705.0,2014.0,78751.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159459,(30.207396 -97.728709),24.31,2014-06-04 00:00:00,Not cleared,2.0,THEFT OF METAL,F,30.207396,(30.207396-97.728709),4000 CAVEN RD,-97.728709,Theft: All Other Larceny,2014-06-03 00:00:00,2.014502e+10,3119195.0,10048844.0,2014.0,78744.0
159460,10713 JOLLYVILLE RD Austin TX 78759,17.22,2016-01-12 00:00:00,Not cleared,10.0,THEFT BY SHOPLIFTING,A,NaN,NaN,10713 JOLLYVILLE RD,NaN,Theft,2015-12-30 00:00:00,2.015506e+10,3111397.0,10118845.0,2015.0,78759.0
159461,1712 TIMBER RIDGE DR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159462,Austin TX 78741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159463,(30.226552 -97.741977),23.07,2014-07-30 00:00:00,Not cleared,3.0,THEFT,H,30.226552,(30.226552-97.741977),1712 TIMBER RIDGE DR,-97.741977,Theft: All Other Larceny,2014-06-30 00:00:00,2.014503e+10,3114890.0,10055706.0,2014.0,78741.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159464 entries, 0 to 159463
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   address                159464 non-null  object
 1   census_tract           84528 non-null   object
 2   clearance_date         81489 non-null   object
 3   clearance_status       81480 non-null   object
 4   council_district_code  84456 non-null   float64
 5   description            84884 non-null   object
 6   district               84871 non-null   object
 7   latitude               34500 non-null   float64
 8   location               34500 non-null   object
 9   location_description   78172 non-null   object
 10  longitude              34500 non-null   float64
 11  primary_type           79214 non-null   object
 12  timestamp              73544 non-null   object
 13  unique_key             73544 non-null   float64
 14  x_coordinate           72273 non-null   float64
 15  y_coordinate           72273 non-null   float64
 16  year                   73544 non-null   float64
 17  zipcode                73201 non-null   float64
dtypes: float64(8), object(10)
memory usage: 21.9+ MB

## Question
1. ลักษณะการเกิดอาชญากรรมต่อพื้นที่
2. ความถี่ของอาชญากรรมเมื่ออิงจากสภาพเศษฐกิจ

In [ ]:
latlong = df[pd.notnull(df['latitude'])].loc[pd.notnull(df['longitude'])][['latitude','longitude']]

In [ ]:
latlong

In [ ]:
fig, ax = plt.subplots()
ax.scatter(latlong['longitude'].values, latlong['latitude'].values,
             s=3, label='map', alpha=0.5)
fig.suptitle('Map by Latitude and Longitude')

ax.set_ylabel('latitude')
ax.set_xlabel('longitude')

plt.show()

### แบ่งแยกลักษณะการเกิดอาชญากรรม ตามพื้นที่

In [ ]:
df.description.unique()

In [ ]:
df['Type1'] = df.apply(lambda x: 'THEFT' in str(x['description']),axis=1)

In [ ]:
df.loc[df['Type1']].description.unique()

In [ ]:
df['Type2'] = df.apply(lambda x: 'BURG' in str(x['description']),axis=1)

In [ ]:
df.loc[df['Type2']].description.unique()

In [ ]:
df['Type3'] = df.apply(lambda x: 'AGG' in str(x['description']),axis=1)

In [ ]:
df.loc[df['Type3']].description.unique()

In [ ]:
df['Type4'] = df.apply(lambda x: 'MURDER' in str(x['description']),axis=1)

In [ ]:
df.loc[df['Type4']].description.unique()

In [ ]:
df['Type5'] = df.apply(lambda x: 'RAPE' in str(x['description']),axis=1)

In [ ]:
df.loc[df['Type5']].description.unique()

In [ ]:
df['Type6'] = df.apply(lambda x: 'ROB' in str(x['description']),axis=1)

In [ ]:
df.loc[df['Type6']].description.unique()

In [ ]:
df.loc[~df['Type6']].loc[~df['Type5']].loc[~df['Type4']].loc[~df['Type3']].loc[~df['Type2']].loc[~df['Type1']].description.unique()

In [ ]:
df

In [ ]:
df_t1 = df.loc[df['Type1']].reset_index(drop=True)
df_t2 = df.loc[df['Type2']].reset_index(drop=True)
df_t3 = df.loc[df['Type3']].reset_index(drop=True)
df_t4 = df.loc[df['Type4']].reset_index(drop=True)
df_t5 = df.loc[df['Type5']].reset_index(drop=True)
df_t6 = df.loc[df['Type6']].reset_index(drop=True)
df_t7 = df.loc[~df['Type6']].loc[~df['Type5']].loc[~df['Type4']].\
loc[~df['Type3']].loc[~df['Type2']].loc[~df['Type1']].reset_index(drop=True)

In [ ]:
df_latlong_t1 = df_t1[pd.notnull(df_t1['longitude'])].loc[pd.notnull(df_t1['latitude'])]
df_latlong_t1

In [ ]:
district_values = pd.value_counts(df_t1['district'])
plots = district_values.plot(kind="bar")
_=plt.xlabel('District')
_=plt.ylabel('Event')
for bar in plots.patches:
    plots.annotate(format(bar.get_height(), '.1f'),
                   (bar.get_x() + bar.get_width() / 2,
                    bar.get_height()), ha='center', va='center',
                   size=10, xytext=(0, 8),
                   textcoords='offset points')

plt.show()

In [ ]:
max_theft = df_t1.loc[df_t1['district'] == 'D']
fig, ax = plt.subplots()
ax.scatter(max_theft['longitude'].values, max_theft['latitude'].values,
             s=3, label='map', alpha=0.5)
fig.suptitle('Map by Latitude and Longitude')

ax.set_ylabel('latitude')
ax.set_xlabel('longitude')

plt.show()

In [ ]:
df['color1'] = df.apply(lambda x:'red' if x['Type1'] == True and x['district'] == 'D' else 'skyblue',axis=1)

In [ ]:
fig, ax = plt.subplots()
ax.scatter(df['longitude'].values, df['latitude'].values,
             s=3+ pow(12,df['Type1'].astype('int')), c=df.color1, label='map', alpha=0.5)
fig.suptitle('Map by Latitude and Longitude')

ax.set_ylabel('latitude')
ax.set_xlabel('longitude')

plt.show()

In [ ]:
district_values =pd.value_counts(df_t2['district'])
plots = district_values.plot(kind="bar")
_=plt.xlabel('District')
_=plt.ylabel('Event')
for bar in plots.patches:
    plots.annotate(format(bar.get_height(), '.1f'),
                   (bar.get_x() + bar.get_width() / 2,
                    bar.get_height()), ha='center', va='center',
                   size=10, xytext=(0, 8),
                   textcoords='offset points')
plt.show()

In [ ]:
max_burg = df_t2.loc[df_t2['district'] == 'E']
fig, ax = plt.subplots()
ax.scatter(max_burg['longitude'].values, max_burg['latitude'].values,
             s=3, label='map', alpha=0.5)
fig.suptitle('Map by Latitude and Longitude')

ax.set_ylabel('latitude')
ax.set_xlabel('longitude')

plt.show()

In [ ]:
df['color2'] = df.apply(lambda x:'red' if x['Type2'] == True and x['district'] == 'E' else 'skyblue',axis=1)

In [ ]:
fig, ax = plt.subplots()
ax.scatter(df['longitude'].values, df['latitude'].values,
             s=3+ pow(12,df['Type2'].astype('int')), c=df.color2, label='map', alpha=0.5)
fig.suptitle('Map by Latitude and Longitude')

ax.set_ylabel('latitude')
ax.set_xlabel('longitude')

plt.show()

In [ ]:
district_values =pd.value_counts(df_t3['district'])
plots = district_values.plot(kind="bar")
_=plt.xlabel('District')
_=plt.ylabel('Event')
for bar in plots.patches:
    plots.annotate(format(bar.get_height(), '.1f'),
                   (bar.get_x() + bar.get_width() / 2,
                    bar.get_height()), ha='center', va='center',
                   size=10, xytext=(0, 8),
                   textcoords='offset points')
plt.show()

In [ ]:
max_agg= df_t3.loc[df_t3['district'] == 'E']
fig, ax = plt.subplots()
ax.scatter(max_agg['longitude'].values, max_agg['latitude'].values,
             s=3, label='map', alpha=0.5)
fig.suptitle('Map by Latitude and Longitude')

ax.set_ylabel('latitude')
ax.set_xlabel('longitude')

plt.show()

In [ ]:
df['color3'] = df.apply(lambda x:'red' if x['Type3'] == True and x['district'] == 'E' else 'skyblue',axis=1)

In [ ]:
fig, ax = plt.subplots()
ax.scatter(df['longitude'].values, df['latitude'].values,
             s=3+ pow(12,df['Type3'].astype('int')), c=df.color3, label='map', alpha=0.5)
fig.suptitle('Map by Latitude and Longitude')

ax.set_ylabel('latitude')
ax.set_xlabel('longitude')

plt.show()

In [ ]:
district_values =pd.value_counts(df_t4['district'])
plots = district_values.plot(kind="bar")
_=plt.xlabel('District')
_=plt.ylabel('Event')
for bar in plots.patches:
    plots.annotate(format(bar.get_height(), '.1f'),
                   (bar.get_x() + bar.get_width() / 2,
                    bar.get_height()), ha='center', va='center',
                   size=10, xytext=(0, 8),
                   textcoords='offset points')
plt.show()

In [ ]:
max_mur = df_t4.loc[df_t4['district'] == 'E']
fig, ax = plt.subplots()
ax.scatter(max_agg['longitude'].values, max_agg['latitude'].values,
             s=3, label='map', alpha=0.5)
fig.suptitle('Map by Latitude and Longitude')

ax.set_ylabel('latitude')
ax.set_xlabel('longitude')

plt.show()

In [ ]:
df.loc[df['Type4']==True].loc[df['district'] == 'E']

In [ ]:
df['color4'] = df.apply(lambda x:'red' if x['Type4'] == True and x['district'] == 'E' else 'skyblue',axis=1)

In [ ]:
fig, ax = plt.subplots()
ax.scatter(df['longitude'].values, df['latitude'].values,
             s=1+ pow(100,df['Type4'].astype('int')), c=df.color4, label='map', alpha=0.5)
fig.suptitle('Map by Latitude and Longitude')

ax.set_ylabel('latitude')
ax.set_xlabel('longitude')

plt.show()

In [ ]:
district_values =pd.value_counts(df_t5['district'])
plots =district_values.plot(kind="bar")
_=plt.xlabel('District')
_=plt.ylabel('Event')
for bar in plots.patches:
    plots.annotate(format(bar.get_height(), '.1f'),
                   (bar.get_x() + bar.get_width() / 2,
                    bar.get_height()), ha='center', va='center',
                   size=10, xytext=(0, 8),
                   textcoords='offset points')
plt.show()

In [ ]:
max_rape = df_t5.loc[df_t5['district'] == 'E']
fig, ax = plt.subplots()
ax.scatter(max_agg['longitude'].values, max_agg['latitude'].values,
             s=3, label='map', alpha=0.5)
fig.suptitle('Map by Latitude and Longitude')

ax.set_ylabel('latitude')
ax.set_xlabel('longitude')

plt.show()

In [ ]:
df['color5'] = df.apply(lambda x:'red' if x['Type5'] == True and x['district'] == 'E' else 'skyblue',axis=1)

In [ ]:
fig, ax = plt.subplots()
ax.scatter(df['longitude'].values, df['latitude'].values,
             s=1+ pow(30,df['Type5'].astype('int')), c=df.color5, label='map', alpha=0.5)
fig.suptitle('Map by Latitude and Longitude')

ax.set_ylabel('latitude')
ax.set_xlabel('longitude')

plt.show()

In [ ]:
district_values =pd.value_counts(df_t6['district'])
plots = district_values.plot(kind="bar")
_=plt.xlabel('District')
_=plt.ylabel('Event')
for bar in plots.patches:
    plots.annotate(format(bar.get_height(), '.1f'),
                   (bar.get_x() + bar.get_width() / 2,
                    bar.get_height()), ha='center', va='center',
                   size=10, xytext=(0, 8),
                   textcoords='offset points')
plt.show()

In [ ]:
max_rob = df_t6.loc[df_t6['district'] == 'E']
fig, ax = plt.subplots()
ax.scatter(max_agg['longitude'].values, max_agg['latitude'].values,
             s=3, label='map', alpha=0.5)
fig.suptitle('Map by Latitude and Longitude')

ax.set_ylabel('latitude')
ax.set_xlabel('longitude')

plt.show()

In [ ]:
df['color6'] = df.apply(lambda x:'red' if x['Type6'] == True and x['district'] == 'E' else 'skyblue',axis=1)

In [ ]:
fig, ax = plt.subplots()
ax.scatter(df['longitude'].values, df['latitude'].values,
             s=3+ pow(30,df['Type6'].astype('int')), c=df.color6, label='map', alpha=0.5)
fig.suptitle('Map by Latitude and Longitude')

ax.set_ylabel('latitude')
ax.set_xlabel('longitude')

plt.show()

In [ ]:
df['clearance_date'] = pd.to_datetime(df['clearance_date'],errors='coerce')

In [ ]:
df_2014= df[pd.notnull(df['clearance_date'])].loc[df.clearance_date.dt.year == 2014]

In [ ]:
df_2015= df[pd.notnull(df['clearance_date'])].loc[df.clearance_date.dt.year == 2015]

In [ ]:
df_2016= df[pd.notnull(df['clearance_date'])].loc[df.clearance_date.dt.year == 2016]

In [ ]:
df[pd.notnull(df['clearance_date'])].loc[df.clearance_date.dt.year == 2017]

U.S. Bureau of Economic Analysis, Gross Domestic Product: All Industry Total in Texas [TXNGSP], retrieved from FRED, Federal Reserve Bank of St. Louis; https://fred.stlouisfed.org/series/TXNGSP, October 13, 2022.

In [ ]:
gdp = pd.read_csv('TXNGSP.csv')
gdp

In [ ]:
gdp['DATE'] = pd.to_datetime(gdp['DATE'] )

In [ ]:
scope = gdp[gdp['DATE'].dt.year > 2013].loc[gdp['DATE'].dt.year < 2017].reset_index(drop=True)

In [ ]:
num_2014=  df_2014.loc[pd.notnull(df_2014['description'])].drop_duplicates().description.count()
num_2015=  df_2015.loc[pd.notnull(df_2015['description'])].drop_duplicates().description.count()
num_2016=  df_2016.loc[pd.notnull(df_2016['description'])].drop_duplicates().description.count()

In [ ]:
scope['CRIME_SUM'] = [num_2014,num_2015,num_2016]

In [ ]:
scope

In [ ]:
gdp.plot(x='DATE',y='TXNGSP')
plt.suptitle('Gross Domestic Product: All Industry Total in Texas FROM 1997 - 2021')
_=plt.xlabel('Year')
_=plt.ylabel('TXNGSP')

plt.show()

In [ ]:
scope.plot(x="DATE", y="CRIME_SUM")
plt.suptitle('ALL CRIME IN TEXAS,Austin FROM 2014 - 2016')
_=plt.xlabel('Year')
_=plt.ylabel('Sum of Crime')
plt.show()